
*.meta linguist-detectable=false
*.unity linguist-detectable=false
*.prefab linguist-detectable=false
*.mat linguist-detectable=false
*.shader linguist-detectable=false
*.asset linguist-detectable=false
*.json linguist-detectable=false
*.xml linguist-detectable=false

*.cs linguist-language=C#
